<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLogedIn">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="categories">Ctegories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="brands">Brands</a>
        </li>
       
        
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item position-relative" *ngIf="isLogedIn">
          <a class="nav-link" routerLink="cart">
          <i class="text-main fa fa-shopping-cart fs-4"></i>
            <div class="badge bg-danger position-absolute top-0 end-0 rounded-circle">{{numOfCartItems}}</div>
          </a>
        </li>

        <li class="nav-item d-flex align-items-center">
          
             <i class="fab mx-2 fa-instagram"></i>
             <i class="fab mx-2 fa-facebook"></i>
             <i class="fab mx-2 fa-twitter"></i>
             <i class="fab mx-2 fa-linkedin"></i>
        </li>
        <li class="nav-item"  *ngIf="!isLogedIn">
          <a class="nav-link" routerLink="signup" >register</a>
        </li>
        <li class="nav-item"  *ngIf="!isLogedIn" >
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li (click)="logOut()" class="nav-item"  *ngIf=" isLogedIn">
          
            <span class="nav-link cursor-pointer">logOut</span>
          
        </li>
       
       </ul>
     
    </div>
  </div>
</nav>